# Entregable # 1

El primer entregable para CODER HOUSE debe extraer datos de una API publica y crear una tabla en Redshift. Una vez creada la tabla, se debe cargar los datos en Redshift.

![arquitectura_propuesta](images/_home_marm1984_github_data_engineering_coder_house_entregable_uno_entrega_1.png)

In [1]:
from colorama import Back, Fore, Style
import pandas as pd
import requests
import psycopg2
import random
import os

In [2]:
# Function that requests over HTTP a JSON object from a given URL

JSON = int | str | float | bool | None | dict[str, "JSON"] | list["JSON"]
JSONObject = dict[str, JSON]

def http_get_sync(url: str) -> JSONObject:
    """Synchronously performs an HTTP GET request and returns the JSON response."""
    try :
        print(Back.BLACK + Fore.CYAN + "GET: " + url + Style.RESET_ALL)
        return requests.get(url).json()
    except:
        print(Back.BLACK + Fore.RED + "ERROR: " + url + Style.RESET_ALL)
        return {}

In [3]:
# The limit parameters for the API calls

API_KEY = os.environ.get("NAPSTER_API_KEY")
OFFSET = 1000  # Number of artists to seed in db

In [4]:
# The URL for the API call

# artist_page_offset = 116 # johnny-cash 212 Bob Dylan
artist_page_offset = random.randint(0, OFFSET)
napster_url = f'https://napi-v2-2-cloud-run-b3gtd5nmxq-uw.a.run.app/v2.2/artists/top{API_KEY}&limit=1&offset={artist_page_offset}'

In [5]:
# Get the JSON object from the URL

napster_json = http_get_sync(napster_url)

GET: https://napi-v2-2-cloud-run-b3gtd5nmxq-uw.a.run.app/v2.2/artists/top?apikey=MjZkYmFhZTctMjFkZi00NjY3LWEwNGMtZDYzNmQ4YmM3OThi&limit=1&offset=890

In [6]:
napster_json

{'artists': [{'type': 'artist',
   'id': 'art.62824078',
   'href': 'https://api.napster.com/v2.2/artists/art.62824078',
   'name': 'Lukas Graham',
   'shortcut': 'lukas-graham',
   'blurbs': [],
   'bios': [{'title': 'Bebop Digital',
     'author': 'Bebop Digital',
     'publishDate': '',
     'bio': 'El  grupo danés de sonoridad soul, funk, rock y pop, es liderado por el vocalista Lukas Graham Forchhammer, cuenta con Mark “Lovestick” Falgren en la batería, Magnus Larsson en el bajo y Kasper Daugaard en los teclados. La trayectoria inició de forma natural en 2011, lanzando dos músicas en YouTube. La repercusión fue tan buena que dio origen a una gira con más de 30 mil ingresos vendidos, eso antes, hasta del lanzamiento del primer álbum. <I>Lukas Graham </I>  salió en 2012 y tuvo todo su éxito en su país natal, con los hits “Drunk in the Morning”, “Ordinary Things” y “Better Than Yourself (Criminal Mind Pt.2)”. El trabajo alcanzó una buena repercusión también en Alemania, Noruega y Suecia. Pero fue con “7 Years” que ellos se hicieron conocidos en todo el mundo, inclusive en el anhelado mercado americano, en el que el sencillo llegó al segundo lugar. La música integra el segundo registro, de 2015, que fue nuevamente bautizado con el nombre del grupo – para diferenciarlo del trabajo de estreno, los fans empezaron a llamarlo de <I>Blue Album.</I>'}],
   'albumGroups': {'compilations': ['alb.754287876',
     'alb.707295747',
     'alb.704369382',
     'alb.704367453',
     'alb.701267331',
     'alb.698724711',
     'alb.680039056',
     'alb.668590008',
     'alb.620408040',
     'alb.618939779',
     'alb.617411647',
     'alb.617431789',
     'alb.561233574',
     'alb.551474727',
     'alb.551111377',
     'alb.549598290',
     'alb.548733721',
     'alb.548738110',
     'alb.548745798',
     'alb.548736791',
     'alb.548746650',
     'alb.548745711',
     'alb.548746569',
     'alb.543822039',
     'alb.531822016',
     'alb.532959425',
     'alb.528919394',
     'alb.529860667',
     'alb.529860193',
     'alb.524549293',
     'alb.521047327',
     'alb.518564359',
     'alb.518534434',
     'alb.517116733',
     'alb.513158723',
     'alb.510954000',
     'alb.508881913',
     'alb.507103392',
     'alb.494984677',
     'alb.490111909',
     'alb.491421154',
     'alb.491502587',
     'alb.491502244',
     'alb.480284067',
     'alb.489276357',
     'alb.489337048',
     'alb.489264650',
     'alb.489368690',
     'alb.481159303',
     'alb.487172379',
     'alb.482892880',
     'alb.481624828',
     'alb.479000373',
     'alb.479302256',
     'alb.468824687',
     'alb.468955297',
     'alb.468072076',
     'alb.465781428',
     'alb.474893364',
     'alb.465657119',
     'alb.463715847',
     'alb.460049552',
     'alb.460704140',
     'alb.458184584',
     'alb.453321539',
     'alb.452458174',
     'alb.445045233',
     'alb.445019504',
     'alb.443095698',
     'alb.441198164',
     'alb.441387333',
     'alb.441388528',
     'alb.441199173',
     'alb.437578608',
     'alb.437581157',
     'alb.435753860',
     'alb.434628053',
     'alb.432714853',
     'alb.434639002',
     'alb.432244439',
     'alb.432226802',
     'alb.431160285',
     'alb.432201739',
     'alb.626944252',
     'alb.431194203',
     'alb.428254254',
     'alb.428264866',
     'alb.428266708',
     'alb.428259075',
     'alb.429553881',
     'alb.434852786',
     'alb.425382470',
     'alb.425383286',
     'alb.425345326',
     'alb.423425429',
     'alb.428827616',
     'alb.428837545',
     'alb.428846521',
     'alb.423376884',
     'alb.423380724',
     'alb.423382151',
     'alb.423492311',
     'alb.275299348',
     'alb.406683015',
     'alb.414997046',
     'alb.390713313',
     'alb.388497591',
     'alb.388499675',
     'alb.423405076',
     'alb.428625717',
     'alb.428665513',
     'alb.385385556',
     'alb.383971627',
     'alb.383973053',
     'alb.383974651',
     'alb.378315098',
     'alb.612679142',
     'alb.380508695',
     'alb.379906744',
     'alb.378398017',
     'alb.428704331',
     'alb.424880364',
     'alb.376328946',
     'alb.369587538',
     'alb.369604636',
     'alb.423404459',
     'alb.428853448',
     'alb.423375163',
     'alb.428598770',
     'alb.366054289',
     'alb.366052424',
     'alb.364173992',
     'alb.428261764',
     'alb.362239329',
     'alb.411196779',
     'alb.361186766',
     'alb.361186834',
     'alb.361187044',
     'alb.358781281',
     'alb.358782242',
     'alb.358772734',
     'alb.424423403',
     'alb.428793523',
     'alb.437921835',
     'alb.352599684',
     'alb.346792643',
     'alb.350700162',
     'alb.350132099',
     'alb.341479017',
     'alb.337182719',
     'alb.327810665',
     'alb.435125409',
     'alb.326642160',
     'alb.326151844',
     'alb.325376024',
     'alb.440122872',
     'alb.325810982',
     'alb.417560660',
     'alb.428598263',
     'alb.424489767',
     'alb.433423168',
     'alb.295542237',
     'alb.289763932',
     'alb.278125744',
     'alb.775764090',
     'alb.271539350',
     'alb.269895082',
     'alb.261060996',
     'alb.321033615',
     'alb.259755748',
     'alb.259689389',
     'alb.256799286',
     'alb.320900535',
     'alb.256812975',
     'alb.256816170',
     'alb.256034976',
     'alb.252766448',
     'alb.252036158',
     'alb.251961097',
     'alb.244914141',
     'alb.244900562',
     'alb.248216241',
     'alb.320703526',
     'alb.243355128',
     'alb.243561794',
     'alb.243564734',
     'alb.249957054',
     'alb.320980204',
     'alb.321536288',
     'alb.242265355',
     'alb.242119432',
     'alb.243039105',
     'alb.242945080',
     'alb.243280279',
     'alb.242427338',
     'alb.242468665',
     'alb.241317951',
     'alb.321345412',
     'alb.236894580',
     'alb.234175604',
     'alb.321154918',
     'alb.321053660',
     'alb.232300724',
     'alb.232911524',
     'alb.232911563',
     'alb.231034500',
     'alb.321054093',
     'alb.321346198',
     'alb.229843087',
     'alb.321054185',
     'alb.228580227',
     'alb.320870697',
     'alb.320893602',
     'alb.227376517',
     'alb.225423185',
     'alb.320882786',
     'alb.423372448',
     'alb.428669260',
     'alb.224298254',
     'alb.223466226',
     'alb.320894083',
     'alb.222773349',
     'alb.221652934',
     'alb.321034138',
     'alb.218484039',
     'alb.218457682',
     'alb.220208644',
     'alb.216484633',
     'alb.209083059',
     'alb.207870965',
     'alb.204294287',
     'alb.204277803',
     'alb.203759631',
     'alb.321034302',
     'alb.203337341',
     'alb.203049199',
     'alb.202428675',
     'alb.202468521',
     'alb.201335209',
     'alb.195323127',
     'alb.180836835',
     'alb.181367609',
     'alb.162899641',
     'alb.170279850',
     'alb.174793588',
     'alb.165036394',
     'alb.140741074',
     'alb.133816633',
     'alb.127299059',
     'alb.119484249',
     'alb.114721936',
     'alb.110888825',
     'alb.107521938',
     'alb.100077832',
     'alb.76141040',
     'alb.77430515',
     'alb.142252307',
     'alb.70888701',
     'alb.69472593',
     'alb.69855286',
     'alb.69617439',
     'alb.68353635',
     'alb.69978101',
     'alb.69976549',
     'alb.67347345',
     'alb.71059448',
     'alb.210961891',
     'alb.70939225',
     'alb.70970488',
     'alb.71151920'],
    'singlesAndEPs': ['alb.748841168',
     'alb.734937371',
     'alb.727630490',
     'alb.726569052',
     'alb.711586368',
     'alb.712568722',
     'alb.703665725',
     'alb.704616830',
     'alb.692347344',
     'alb.691471518',
     'alb.641408007',
     'alb.647594521',
     'alb.646619874',
     'alb.646594862',
     'alb.612988214',
     'alb.612282903',
     'alb.612307949',
     'alb.605204627',
     'alb.603908492',
     'alb.603906612',
     'alb.602335541',
     'alb.602255536',
     'alb.599952542',
     'alb.600801005',
     'alb.600754751',
     'alb.593803323',
     'alb.593783214',
     'alb.591906525',
     'alb.591876883',
     'alb.590529188',
     'alb.590515018',
     'alb.580826930',
     'alb.581729907',
     'alb.581776822',
     'alb.590523990',
     'alb.591687927',
     'alb.593020607',
     'alb.601859977',
     'alb.531242050',
     'alb.529750041',
     'alb.531304872',
     'alb.526512748',
     'alb.526512887',
     'alb.526513035',
     'alb.526513059',
     'alb.524982603',
     'alb.521323173',
     'alb.522684858',
     'alb.522661078',
     'alb.518482654',
     'alb.518603500',
     'alb.502501642',
     'alb.504118219',
     'alb.504159409',
     'alb.519195387',
     'alb.517189615',
     'alb.517189662',
     'alb.470011794',
     'alb.470030857',
     'alb.468825001',
     'alb.472419843',
     'alb.454261189',
     'alb.454287336',
     'alb.453249994',
     'alb.419543677',
     'alb.420373503',
     'alb.529917740',
     'alb.408253420',
     'alb.409462310',
     'alb.551543826',
     'alb.359914684',
     'alb.358748285',
     'alb.410891030',
     'alb.331450553',
     'alb.331871973',
     'alb.327008970',
     'alb.327785417',
     'alb.586300026',
     'alb.277535556',
     'alb.277962303',
     'alb.253080231',
     'alb.252122998',
     'alb.428628462',
     'alb.238095186',
     'alb.221246263',
     'alb.221286989',
     'alb.220765645',
     'alb.219522826',
     'alb.203621271',
     'alb.203621273',
     'alb.200495903',
     'alb.200628042',
     'alb.189580464',
     'alb.151479079',
     'alb.109381210',
     'alb.108639116',
     'alb.66736684',
     'alb.108632510',
     'alb.108630058',
     'alb.62824081',
     'alb.107139453',
     'alb.108621793',
     'alb.107142182'],
    'main': ['alb.736331730',
     'alb.333683264',
     'alb.333223699',
     'alb.380661392',
     'alb.410925746',
     'alb.586300097',
     'alb.222540445',
     'alb.223454313',
     'alb.222958442',
     'alb.469095298',
     'alb.204011060',
     'alb.189380084',
     'alb.189860701',
     'alb.68090379',
     'alb.108633443',
     'alb.338304548',
     'alb.355025865'],
    'others': ['alb.735494876',
     'alb.748579784',
     'alb.724566797',
     'alb.724561214',
     'alb.724542787',
     'alb.718226585',
     'alb.718322744',
     'alb.687795826',
     'alb.672841096',
     'alb.658512985',
     'alb.647024991',
     'alb.647296605',
     'alb.647280897',
     'alb.645724338',
     'alb.649665817',
     'alb.647857566',
     'alb.644320087',
     'alb.637162627',
     'alb.637567566',
     'alb.639102718',
     'alb.640205963',
     'alb.640575830',
     'alb.645618231',
     'alb.644430634',
     'alb.637297300',
     'alb.643320952',
     'alb.631085894',
     'alb.631623837',
     'alb.631448359',
     'alb.635379495',
     'alb.631405699',
     'alb.650126723',
     'alb.628353637',
     'alb.629554087',
     'alb.629300037',
     'alb.633967514',
     'alb.629036886',
     'alb.630058030',
     'alb.619377261',
     'alb.621995352',
     'alb.624710732',
     'alb.626836325',
     'alb.619110359',
     'alb.626439207',
     'alb.603910090',
     'alb.576788003',
     'alb.582963013',
     'alb.582757799',
     'alb.578174470',
     'alb.560761061',
     'alb.560826075',
     'alb.507112632',
     'alb.507117888',
     'alb.627274116',
     'alb.477506287',
     'alb.477336922',
     'alb.470135824',
     'alb.468235323',
     'alb.429922612',
     'alb.423491752',
     'alb.612626042',
     'alb.762405422',
     'alb.397731842',
     'alb.388462976',
     'alb.384950890',
     'alb.390195851',
     'alb.383975352',
     'alb.379064668',
     'alb.369622760',
     'alb.364691832',
     'alb.348973198',
     'alb.347513164',
     'alb.348985998',
     'alb.333789795',
     'alb.310753445',
     'alb.365152999']},
   'links': {'albums': {'href': 'https://api.napster.com/v2.2/artists/art.62824078/albums'},
    'images': {'href': 'https://api.napster.com/v2.2/artists/art.62824078/images'},
    'posts': {'href': 'https://api.napster.com/v2.2/artists/art.62824078/posts'},
    'topTracks': {'href': 'https://api.napster.com/v2.2/artists/art.62824078/tracks/top'},
    'genres': {'ids': ['g.115', 'g.90', 'g.57', 'g.290'],
     'href': 'https://api.napster.com/v2.2/genres/g.115,g.90,g.57,g.290'},
    'stations': {'ids': ['sas.62824078'],
     'href': 'https://api.napster.com/v2.2/stations/sas.62824078'},
    'contemporaries': {'ids': ['art.15237004',
      'art.21340772',
      'art.22561207',
      'art.26245684',
      'art.30359745',
      'art.41378416',
      'art.42799189',
      'art.140570450',
      'art.186595144',
      'art.218418809',
      'art.220944431',
      'art.105361854',
      'art.200672281'],
     'href': 'https://api.napster.com/v2.2/artists/art.15237004,art.21340772,art.22561207,art.26245684,art.30359745,art.41378416,art.42799189,art.140570450,art.186595144,art.218418809,art.220944431,art.105361854,art.200672281'},
    'influences': {'ids': ['art.44',
      'art.3684',
      'art.4488',
      'art.39520',
      'art.5184298',
      'art.36207',
      'art.38969',
      'art.40110',
      'art.66506',
      'art.9557788'],
     'href': 'https://api.napster.com/v2.2/artists/art.44,art.3684,art.4488,art.39520,art.5184298,art.36207,art.38969,art.40110,art.66506,art.9557788'},
    'relatedProjects': {'ids': ['art.105988906', 'art.10208'],
     'href': 'https://api.napster.com/v2.2/artists/art.105988906,art.10208'}}}],
 'meta': {'totalCount': 1000, 'returnedCount': 1}}

In [7]:
# Get all the keys inside artist object
for key in napster_json['artists'][0].keys():
    print(key)

type
id
href
name
shortcut
blurbs
bios
albumGroups
links

In [8]:
# Check shortcut for artist name
napster_json['artists'][0]['shortcut']

'lukas-graham'

# Creating Table

The table for the artist, creates an Artist. Each artist has an ID, type, blurbs, name, hred and shorcut.

## Artist Table 

![Artist Table](images/artist_table.png)

# Data Structures

id = string
type = string
href = string
name = string
shortcut = string

In [9]:
# Import environment variables

host = os.environ['HOST']
port = os.environ['PORT']
user = os.environ['USER']
password = os.environ['PASSWORD']
database = os.environ['DATABASE']

In [10]:
# Create a connection to the database

try:
    conn = psycopg2.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )
    print(Back.BLACK + Fore.GREEN + "SUCCESS: Connection to database" + Style.RESET_ALL)
except:
    print(Back.BLACK + Fore.RED + "ERROR: Connection to database" + Style.RESET_ALL)

SUCCESS: Connection to database

In [11]:
# Create a cursor to execute SQL commands

try:
    cur = conn.cursor()
    print(Back.BLACK + Fore.GREEN + "SUCCESS: Cursor created" + Style.RESET_ALL)
except:
    print(Back.BLACK + Fore.RED + "ERROR: Cursor not created" + Style.RESET_ALL)

SUCCESS: Cursor created

In [12]:
# Check the connection
personal_schema = os.environ['PERSONAL_SCHEMA']

#  Check schema exists from CODER
cur.execute(f"SELECT * FROM information_schema.tables WHERE table_schema = '{personal_schema}';")
print(cur.fetchall())

[('data-engineer-database', 'marm1984_coderhouse', 'artist_napster', 'BASE TABLE', None, None, None, None, None), ('data-engineer-database', 'marm1984_coderhouse', 'artist', 'BASE TABLE', None, None, None, None, None)]

In [13]:
# Drop table if exists

cur.execute(f"DROP TABLE IF EXISTS {personal_schema}.artist;")

In [14]:
# Create a table for artists

try:
    cur.execute(f"""
                CREATE TABLE IF NOT EXISTS {personal_schema}.artist (
                    id VARCHAR(255) PRIMARY KEY,
                    name VARCHAR(255),
                    shortcut VARCHAR(255),
                    url VARCHAR(255),
                    type VARCHAR(255)
                );
                """)
    print(Back.BLACK + Fore.GREEN + "SUCCESS: Table created" + Style.RESET_ALL)
except:
    print(Back.BLACK + Fore.RED + "ERROR: Table not created" + Style.RESET_ALL)

SUCCESS: Table created

In [15]:
# Create dataframe from JSON object

df_artist = pd.DataFrame.from_dict(napster_json['artists'])
df_artist.head()

,type,id,href,name,shortcut,blurbs,bios,albumGroups,links
0,artist,art.62824078,https://api.napster.com/v2.2/artists/art.62824078,Lukas Graham,lukas-graham,[],"[{'title': 'Bebop Digital', 'author': 'Bebop D...","{'compilations': ['alb.754287876', 'alb.707295...",{'albums': {'href': 'https://api.napster.com/v...

In [16]:
# Create a list of columns to drop

columns_table = ['id', 'name', 'shortcut', 'href', 'type']

# Create a list of columns to keep
for column in df_artist.columns:
    if column not in columns_table:
        df_artist.drop(column, axis=1, inplace=True)

In [17]:
df_artist.head()

,type,id,href,name,shortcut
0,artist,art.62824078,https://api.napster.com/v2.2/artists/art.62824078,Lukas Graham,lukas-graham

In [18]:
# Deliver the dataframe to the database

try:
    for index, row in df_artist.iterrows():
        cur.execute(f"""
                    INSERT INTO {personal_schema}.artist (id, name, shortcut, url, type)
                    VALUES ('{row['id']}', '{row['name']}', '{row['shortcut']}', '{row['href']}', '{row['type']}');
                    """)
        conn.commit()
        print(Back.BLACK + Fore.GREEN + "SUCCESS: Dataframe delivered to database" + Style.RESET_ALL)
except Exception as e:
    print(e)
    print(Back.BLACK + Fore.RED + "ERROR: Dataframe not delivered to database" + Style.RESET_ALL)

SUCCESS: Dataframe delivered to database

In [19]:
# Test and bring back the data from the database

try:
    cur.execute(f"SELECT * FROM {personal_schema}.artist;")
    print(Back.BLACK + Fore.GREEN + "SUCCESS: Dataframe delivered to database" + Style.RESET_ALL)
    for row in cur.fetchall():
        print(row)
except:
    print(Back.BLACK + Fore.RED + "ERROR: Dataframe not delivered to database" + Style.RESET_ALL)

SUCCESS: Dataframe delivered to database
('art.62824078', 'Lukas Graham', 'lukas-graham', 'https://api.napster.com/v2.2/artists/art.62824078', 'artist')